/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

  #container {
    width: 990px!important;
  }

  #mockup {
    width: 990px!important;
  }

}

@media all and (min-width: 768px) and (max-width: 1024px) {

  #container {
    width: 990px!important;
  }

  #mockup {
    width: 990px!important;
  }

}

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }





/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 768px),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

  #container, #header div, #footer, #mockup  {
    width: 100%!important;
  }


  #header {
    padding: 40px;

    h1 {
      font-size: 64px!important;
      margin-bottom: 40px!important;
      line-height: 80px!important;
    }

    h2 {
      font-size: 36px!important;
      line-height: 56px!important;
      margin-bottom: 60px!important;
    }

    p {
      font-size: 36px!important;

      #apple {
        width: 38px!important;
        height: 48px!important;
        background-size: 38px 48px!important;
      }

    }

  }

  #footer {

    ul {
      padding: 0 20px;
    }

    #links li {
      display: block!important;
      margin-bottom: 20px;
      font-size: 24px!important;
      font-weight: 100;
    }

    #copyright {
      padding: 20px 20px;
      position: static!important;
      font-size: 24px!important;
      font-weight: 100;
    }

  }

  #contact {
    right: 30px!important;
  }

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}




/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
