/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  #container {
    width: 990px!important;
  }
  #mockup {
    width: 990px!important;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  #container {
    width: 990px!important;
  }
  #mockup {
    width: 990px!important;
  }
}
/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 768px), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #container,
  #header div,
  #footer,
  #mockup {
    width: 100%!important;
  }
  #header {
    padding: 40px;
  }
  #header h1 {
    font-size: 64px!important;
    margin-bottom: 40px!important;
    line-height: 80px!important;
  }
  #header h2 {
    font-size: 36px!important;
    line-height: 56px!important;
    margin-bottom: 60px!important;
  }
  #header p {
    font-size: 36px!important;
  }
  #header p #apple {
    width: 38px!important;
    height: 48px!important;
    background-size: 38px 48px!important;
  }
  #footer ul {
    padding: 0 20px;
  }
  #footer #links li {
    display: block!important;
    margin-bottom: 20px;
    font-size: 24px!important;
    font-weight: 100;
  }
  #footer #copyright {
    padding: 20px 20px;
    position: static!important;
    font-size: 24px!important;
    font-weight: 100;
  }
  #contact {
    right: 30px!important;
  }
}
/* iPhone Portrait */
/* iPhone Landscape */
/* iPad Portrait */
/* iPad Landscape */
/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
body {
  background: #121212;
}
img {
  width: 1315px;
}
ul {
  list-style-type: none;
}
h1,
h2,
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
h1 {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 100;
}
a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
}
#container {
  width: 1440px;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}
#container #header h1 {
  margin-bottom: 20px;
}
#container #header h2 {
  margin-bottom: 30px;
}
#container #header p {
  color: #FF2D54;
  font-size: 18px;
  font-weight: 400;
}
#container #header p #apple {
  display: inline-block;
  padding: 0 4px 0 4px;
  width: 19px;
  height: 24px;
  text-indent: -9999px;
  background-image: url("../images/apple.png");
  background-size: 19px 24px;
  background-repeat: no-repeat;
  background-position: center;
}
#container #header #contact {
  position: absolute;
  display: block;
  right: 50px;
  top: 30px;
  font-size: 14px;
}
#container #header #logo {
  width: 173px;
  height: 95px;
  margin: 0 auto 40px auto;
  display: block;
  text-indent: -9999px;
  background-image: url("../images/logo.png");
  background-size: 173px 95px;
  background-repeat: no-repeat;
}
#container #header div {
  width: 520px;
  margin: 0 auto;
}
#container #footer {
  margin: 0 auto 80px auto;
  text-align: left;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  position: relative;
}
#container #footer #social {
  margin-bottom: 20px;
}
#container #footer #social li {
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: inline-block;
  margin-right: 30px;
}
#container #footer #social #fb {
  width: 9px;
  height: 18px;
  background-image: url("../images/Fb.png");
  background-size: 9px 18px;
}
#container #footer #social #tw {
  width: 20px;
  height: 16px;
  background-image: url("../images/Twitter.png");
  background-size: 20px 16px;
}
#container #footer #social #ig {
  width: 18px;
  height: 18px;
  background-image: url("../images/Linkedin.png");
  background-size: 18px 18px;
}
#container #footer #links li {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
#container #footer #links li a {
  display: inline-block;
  margin-right: 10px;
}
#container #footer #copyright {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 20px;
  bottom: 0px;
}
#container #terms {
  text-align: left;
  margin-bottom: 60px;
}
#container #terms p {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
#container #terms h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}
#container #terms h2 {
  font-weight: 800!important;
  margin-bottom: 5px;
  margin-top: 30px;
}
